<?xml version="1.0"?>
 
<!-- 
These are some material descriptions of the Pioneer 3DX.
Copyright (C) 2013 Rafael Berkvens rafael.berkvens@uantwerpen.be
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.
This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
This project is based on work by Tracy Davies, where it was in turn based on
work original in ucs-ros-pkg.-->
<robot>
  <material name="black">
    <color rgba="0.0 0.0 0.0 1.0"/>
  </material>
 
  <material name="blue">
    <color rgba="0.0 0.0 0.8 1.0"/>
  </material>
 
  <material name="green">
    <color rgba="0.0 0.8 0.0 1.0"/>
  </material>
 
  <material name="gray">
    <color rgba="0.7 0.7 0.7 1.0"/>
  </material>
 
  <material name="darkgray">
    <color rgba="0.3 0.3 0.3 1.0"/>
  </material>
 
  <material name="red">
    <color rgba="0.8 0.0 0.0 1.0"/>
  </material>
 
  <material name="white">
    <color rgba="1.0 1.0 1.0 1.0"/>
  </material>
 
  <material name="yellow">
    <color rgba="0.8 0.8 0.0 1.0"/>
  </material>
 
</robot>
